:root {
    --silly: 'Short Stack', 'Chalkboard SE', 'Comic Sans MS', sans-serif;
}
body {
    color: rgb(0, 0, 0);
    font-family: var(--silly);
    margin: auto;
    /* overflow: hidden; */
    text-align: center;
}
button {
    border: 0;
    border-radius: 5px;
    font-family: var(--silly);
    padding: 10px;
}
button:hover {
    cursor: pointer;
    filter: brightness(95%);
}
input[type="range"] {
    accent-color: #ff8989;
    margin-left: 10px;
}
.seal {
    left: 50%;
    position: fixed;
    top: 10%;
}
#area {
    /* background: #fff; */
    height: 100%;
    padding-top: 25px;
    width: 100%;
}
#create {
    background-color: white;
    margin: 25px auto auto;
    text-transform: uppercase;
}
#customize {
    background: #ffd5d5;
    bottom: -320px;
    margin-top: 25px;
    padding: 25px;
    position: fixed;
    width: 100%;
}
#customize > * {
    display: block;
}
#model {
    margin: 25px auto;
    width: 214px;
    text-align: center;
}
#sliders {
    margin: auto;
    text-align: right;
    width: max-content;
}
@keyframes openMenu {
    from {
        bottom: -320px;
    }
    to {
        bottom: 0;
    }
}
@keyframes closeMenu {
    from {
        bottom: 0;
    }
    to {
        bottom: -320px;
    }
}